<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1 ngClass="text-center text-outline-black text-white mb-0">Old Friends (we miss you)</h1>
    </div>
  </div><br>
<div class="table-container" id="OldFriendsDex" *ngIf="!selected && !showCreateForm">
  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>name</td>
        <td>type</td>
        <td>description</td>
        <td>arrival date</td>
        <td>depart date</td>
        <td>imageUrl</td>
        <td>Delete Entry</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of oldFriends">
        <td (click)="displayFriend(friend)">{{friend.id}}</td>
        <td (click)="displayFriend(friend)">{{friend.name}}</td>
        <td (click)="displayFriend(friend)">{{friend.type}}</td>
        <td (click)="displayFriend(friend)">{{friend.description}}</td>
        <td (click)="displayFriend(friend)">{{friend.arrivalDate}}</td>
        <td (click)="displayFriend(friend)">{{friend.departDate}}</td>
        <td (click)="displayFriend(friend)">{{friend.imageUrl}}</td>
        <td><button ngClass="btn btn=med btn-danger" (click)="deleteFriend(friend.id)">X</button></td>
      </tr>
    </tbody>
  </table>
  <button ngClass="btn btn-md btn-primary" (click)="showCreateForm = !showCreateForm">Add Friend</button>
</div><br>

<div class="container" *ngIf="selected">
  <h4>{{selected.name}}</h4>
  <h4>{{selected.type}}</h4>
  <h5>{{selected.arrivalDate}}</h5>
  <p>{{selected.imageUrl}}</p>

  <button ngClass="btn btn-md btn-primary" (click)="displayTable()">Back</button>
  <button ngClass="btn btn-md btn-primary" (click)="setEditOldFriend()">Edit</button>
</div>

<div *ngIf="showCreateForm">
  <form>
  <h3>Create and Record your Memory</h3>
    Name of friend: <input type="text" name="name" [(ngModel)]="newFriend.name"><br>
    The Nature of your friend: <input type="text" name="type" [(ngModel)]="newFriend.type" ><br>
    Talk about your friend: <textarea type="text" name="description" [(ngModel)]="newFriend.description"></textarea><br>
    When did you become friends: <input type="number" name="arrivalDate" [(ngModel)]="newFriend.arrivalDate"><br>
    When did you lose your friend: <input type="number" name="departDate" [(ngModel)]="newFriend.departDate"><br>
    Add a link/picture: <input type="text" name="imageUrl" [(ngModel)]="newFriend.imageUrl"><br>
    <button ngClass="btn btn-md btn-primary" (click)="addFriend(newFriend)">Add your new old friend</button><br>

    <button ngClass="btn btn-md btn-primary" (click)="showCreateForm = !showCreateForm">Go Back</button><br>
</form>
</div>

<div *ngIf="editOldFriend">
  <form>
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="editOldFriend.name"><br>
    <label for="type">Type of Friend</label>
    <input type="text" name="type" [(ngModel)]="editOldFriend.type"><br>
    <label for="description">Description</label>
    <textarea for="description" name="description" [(ngModel)]="editOldFriend.description"></textarea><br>
    <label for="arrivalDate">Arrival Year</label>
    <input type="number" name="arrivalDate" [(ngModel)]="editOldFriend.arrivalDate"><br>
    <label for="departDate">Departure Year</label>
    <input type="number" name="departDate" [(ngModel)]="editOldFriend.departDate"><br>
    <label for="imageUrl">Image URL</label>
    <input type="text" name="imageUrl" [(ngModel)]="editOldFriend.imageUrl">

    <button ngClass="btn btn-med btn-success" (click)="updateFriend(editOldFriend)">Save Friend</button>
    <button ngClass="btn btn-med btn-danger" (click)="editOldFriend = null">Cancel</button>
  </form>
</div>
</body>
